nav {   
    width: 100%;
    background-color: var(--white);
    padding: 1rem 2rem;
}

.search_am {
    display: none;
}

.logo {
    display: flex;
}

.logo-image {
    max-width: 5rem;
}

.logo-image img {
    max-width: 100%;
    display: block;
    height: auto;
}

.log-btn {
    background-color: transparent;
    font-size: large;
    margin-right: 1rem;
    color: black;
}

.log-btn:hover {
    font-weight: bold;
    text-decoration: underline;
}

nav .search-bar {
    width: 20rem;
}

.fas:hover {
    cursor: pointer;
}

.nav-icon {
    font-size: 1.5rem;
    color: black;
    margin: 0rem 1rem;
}

.search-bar {
    padding: 4px 8px;
    width: 15rem;
    border-radius: 6px;
    border: 1px solid var(--black);
    margin-right: 0;
}

.search-icon {
    padding: 0.5rem;
    cursor: pointer;
}

.hero-section {
    max-height: 40rem;
    margin: 1.5rem 0rem;
    padding: 1rem 0rem;
}


.hero-text {
    max-width: 50%;
}

.deal-text {
    margin: 1.5rem;
}

.icon-btn {
    margin-right: 0.5rem;
    margin-left: 0.25rem;
}


@media only screen and (max-width: 1170px) {
    
    .search_bm {
        display: none;
    }

    .search_am {
        display: block;
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;
       
    }

    .search_am input {
        width: 90%;
        border-color: black;
    }

}

@media only screen and (max-width: 500px) {
    
 .logo h1 {
     display: none;
    }

}

